* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

.button {
  border: none;
  border-radius: 100px;

  padding: 10px 15px;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
}
